<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lista-personagem.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <p class="usuario">
            <%= user.username ? user.username[0].toUpperCase() : "0" %>
        </p>
       <div class="usuario-opcoes">
        <a href="../criar-personagem/index.html">Criar Personagem</a>
        <a href="...">Personagens Criados</a>
        <a href="/user/<%= user._id %>/regras">Resumo de Regras</a>
        <a href="/logout">Sair</a>
    </div>
        <header class="titulos">
            <h1>Personagens de <%= user.username %></h1>
            <a class="link-retornar" href="/user/<%= user._id %>/main">
                <img src="/imgs/home.png" alt="retornar-inicio" title="Retornar">
            <!-- Créditos da imagem: Dave Gandy -->
            </a>
        </header>

    <% if (characters.length > 0) { %>
        <ul class="lista-personagem">
            <% characters.forEach(character => { %>
                <li>
                    <div class="caixa-personagem">
                        <div class="personagem-nome">
                            <a href="/character/<%= character._id %>">
                                <%= character.characterName %>
                            </a>
                        </div>
                        <div class="personagem-valores">
                            <p>
                                <%= character.homePlanet %> /
                            </p>
                            <p>
                                <%= character.background %> /
                            </p>
                            <p>
                                <%= character.role %>
                            </p>
                        </div>
                        <div class="personagem-deletar" onclick="deleteCharacter('<%= character._id %>')">
                            Deletar
                        </div>
                    </div>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>Você ainda não criou nenhum personagem.</p>
    <% } %>

        <footer class="rodape">
            <div>
                <p>
                    © 2024 Pedro Costa
                </p>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/pedro-conceicao1/" target="_blank">
                    <img src="/imgs/linkedin.png">
                </a>
                <a href="https://github.com/dev-pedr0" target="_blank">
                    <img src="/imgs/github-mark-white.png">
                </a>
                <a href="https://wa.me/5571987412297" target="_blank">
                    <img src="/imgs/wwp.png">
                </a>
                <a href="mailto:pedro4costa@outlook.com" target="_blank">
                    <img src="/imgs/email.png">
                </a>
            </div>
        </footer>
    </div>
    <script src="/lista-personagem.js"></script>
</body>