<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/personagem.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <p class="usuario">
            <%= user.username ? user.username[0].toUpperCase() : "0" %>
        </p>
       <div class="usuario-opcoes">
        <a href="../criar-personagem/index.html">Criar Personagem</a>
        <a href="...">Personagens Criados</a>
        <a href="/user/<%= user._id %>/regras">Resumo de Regras</a>
        <a href="/logout">Sair</a>
    </div>
        <header class="titulos">
            <h1>
                Warhammer 40K em Português
            </h1>
            <a class="link-retornar" href="/user/<%= user._id %>/main">
                <img src="/imgs/home.png" alt="retornar-inicio" title="Retornar">
            <!-- Créditos da imagem: Dave Gandy -->
            </a>
        </header>
        <div class="meio">
            <nav class="opcoes">
                <a class="opcao opcao-1" href="/user/<%= user._id %>/novo-personagem">
                    <p>
                        Criar Personagem
                    </p>
                </a>  
                <a class="opcao opcao-2" href="/user/<%= user._id %>/lista-personagem">
                    <p>Lista de Personagens</p>
                </a>       
            </nav>
        </div>
        <footer class="rodape">
            <div>
                <p>
                    © 2024 Pedro Costa
                </p>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/pedro-conceicao1/" target="_blank">
                    <img src="/imgs/linkedin.png">
                </a>
                <a href="https://github.com/dev-pedr0" target="_blank">
                    <img src="/imgs/github-mark-white.png">
                </a>
                <a href="https://wa.me/5571987412297" target="_blank">
                    <img src="/imgs/wwp.png">
                </a>
                <a href="mailto:pedro4costa@outlook.com" target="_blank">
                    <img src="/imgs/email.png">
                </a>
            </div>
        </footer>
    </div>
    <% if (success) { %>
        <script>
            // Exibe o alerta
            alert("Personagem salvo com sucesso!");
            // Redireciona para a página de personagem (você pode ajustar o destino conforme necessário)
             window.location.href = '/user/<%= user.id %>/personagem'
        </script>
    <% } %>
    <script src="/personagem.js"></script>
</body>